<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hack Game</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li class="item"><a href = "index.html">Main Server</a></li>
            <li class="item"><a href = "contributing.html">DarkNet</a></li>
            <li target = "_blank" class="item"><a href = "credits.html">Login Your PC</a></li>
        </ul>
    </nav>
    <div style = "margin: auto 400px; margin-top: 200px;" align = "center">
        <form action = "/search" method = "POST">
            <h1>Real face of DarkNet.</h1><br>
            <input name = "key" class = "text" placeholder="Search.."><br><br>
            <input class = "text" placeholder="Search.." type = "submit">
        </form>
    </div>
</body>
</html>