<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li class="item"><a href = "/server">Main Server</a></li>
            <li class="item"><a href = "/">DarkNet</a></li>
            <li target = "_blank" class="item"><a href = "/login">Login Your PC</a></li>
        </ul>
    </nav>
    <form action = "/login" method = "POST">
      <h1>Login</h1>
      <input placeholder="username" name = "username">
      <input placeholder="password" name = "password">
      <input type = "submit">
    </form>
</body>
<style>
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width : 500px;
        height: 500px;
        background-color: white;
        color: black;
        border-radius: 7px;
        margin: auto;
        margin-top: 40px;
    }

    form input {
        margin : 30px;
        border: 3px solid black;
    }
</style>
</html>