<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li class="item"><a href = "/">Main Server</a></li>
            <li class="item"><a href = "/">DarkNet</a></li>
            <li target = "_blank" class="item"><a href = "/login">Login Your PC</a></li>
        </ul>
    </nav>
    <div align = "center" style = "margin : auto; margin-top : 200px; font-size : 25px;" class="success">
        Success! Bitirdiğini doğrulamak için Tuncaya <em>nevergonnagiveyouup</em> yaz.
    </div>
</body>
</html>